/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

header {
width: 100%;
height: 75px;
font-family: times;
color: #000000;
font-size: 35px;
background-color: #e8ffff;
margin: 0px;
text-align: center;
}

nav {
      text-align: center;
      width: 100%;
      background-color: white;
      margin: 10px 0px 10px 0px;
      border-radius: 20px
  }

#boven {
width: 100%;
height: 25px;
font-size: 14px;
color: #000000;
background-color: #fbf7e4ff;
margin: 0px 0px 10px 0px;
}

article{
   width: 73%;
   height: 250px;
   font-size: 30px;
   color: #000000;
   background-color: #fbf7e4ff;
   margin: 0px;
   text-align: center;
}

.article-left {
float:left;
}

.article-right {
float: right;
}

#image1, #image3{
   float: left;
   background-color: white;
   width: 27%;
   height: 250px;
}

#image2, #image4{
   float: right;
   background-color: white;
   width: 27%;
   height: 250px;
}



#wrapper{
   width: 100%;
   margin: auto;
}

#big a
{
   background-color: #fbf7e4ff;
   display: inline-block;
   gap: 5px;
   color: #000000;
   font-size: 18px;
   text-align: center;
   width: 16%;
   height: 40px;
   text-decoration: none;
   line-height:40px;
   border-radius: 20px;
}
#big a:hover 
{
   border-radius: 20px;
   background-color: #e8ffff;
   text-decoration: underline;
}

footer{
   width: 100%;
   height: 50px;
   color: #000000;
   background-color: #e8ffff;
   font-size: 24px;
   margin: 15px 0px 0px 0px;
   float: left;
   text-align: center;
}