body
{
  background-color: white
}

header
{
  width: 1000px;  
  height: 75px; 
  font-family: handel gothic; 
  color: #000000; 
  font-size: 24px;
  background-color: #e8ffff;
  margin: 0px 0px 15px 0px;
  text-align: center;
}
#wrapper
{
  width: 1000px;
  background-color: white;
}
#img
{
  width: 400px; 
  height: 500px; 
  margin: 15px 15px 5px 15px;
  float: left;
  background-color: black;
}
#article1
{
  width: 555px;
  height: 50px; 
  font-family: handel gothic; 
  color: #000000; 
  font-size: 18px; 
  background-color: #fbf7e4ff; 
  margin: 15px 15px 0px 0px;
  float: right;
  text-align: center
}
#article2
{
  width: 555px;
  height: 550px; 
  font-family: handel gothic; 
  color: #000000; 
  font-size: 18px; 
  background-color: #fbf7e4ff; 
  margin: 5px 15px 15px 0px;
  float: right;
  text-align: center
}
#article3
{
  width: 400px; 
  height: 100px;  
  font-family: handel gothic; 
  color: #000000; 
  font-size: 18px; 
  background-color: #fbf7e4ff; 
  margin: 0px 15px 15px 15px;
  float: left;
  text-align: center
}

#buynow
{ 
 width: 400px;
 height: 200px;
 float: auto;
}