/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
footer{
   width: 1100px;
   height: 50px;
   color: #000000;
   background-color: #e8ffff;
   font-size: 24px;
   margin: 15px 0px 0px 0px;
   float: left;
   text-align: center;
}

header {
width: 1100px;
height: 75px;
font-family: times;
color: #000000;
font-size: 50px;
background-color: #e8ffff;
margin: 0px;
text-align: center;
}

nav {
   width: 1100px;
   background-color: #fbf7e4ff;
   margin: 10px 0px 10px 0px;
  }

#boven{
width: 1100px;
height: 25px;
font-size: 14px;
color: #000000;
background-color: #fbf7e4ff;
margin: 0px 0px 10px 0px;
}

article{
   width: 750px;
   height: 250px;
   font-size: 30px;
   color: #000000;
   background-color: #fbf7e4ff;
   margin: 0px;
   text-align: center;
}

.article-left {
float:left;
}

.article-right {
float: right;
}

#image1, #image3{
   float: left;
   background-color: red;
   width: 350px;
   height: 250px;
}

#image2, #image4{
   float: right;
   background-color: red;
   width: 350px;
   height: 250px;
}



#wrapper{
   width: 1100px;
   height: 1300px;
   margin: auto;
}

#big a
{
   display: inline-block;
   color: #000000;
   font-size: 24px;
   text-align: center;
   width: 255px;
   height: 40px;
   text-decoration: none;
   line-height:40px;
   border-width: 10px;
   border-color: #fbf7e4ff;
}
#big a:hover 
{
background-color: #e8ffff;
text-decoration: underline;
}

#image1, #image2, #image3, #image4: hover
{
   transform: scale(1.02)
}

